<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:mo="https://gitee.com/aun/alan">
<head th:replace="/common/template :: header(~{::title},~{::link},~{::style})">
    <style>
        .teacher, .course{
            border: 1px solid #E6E6E6;
            height: 36px;
            border-radius: 2px;
            text-align: left;
            color: -internal-light-dark(black, white);
            line-height: 36px;
            padding-left: 10px;
            transition: all .3s;
            transition-property: all;
            transition-duration: 0.3s;
            transition-timing-function: ease;
            transition-delay: 0s;
            -webkit-transition: all .3s;
        }
        .teacher:hover, .course:hover{
            border: 1px solid #7D32A7;
            cursor: pointer;
        }
    </style>
</head>
<body>
<div class="layui-form alan-compile">
    <form th:action="@{/system/teachingPlan/save}" class="layui-form-pane alan-form-pane">
        <input type="hidden" name="id" th:if="${teachingPlan}" th:value="${teachingPlan.id}">
        <!-- 院系 -->
        <input type="hidden" name="collegeId" th:value="${teachingPlan?.collegeId?.id}">
        <!-- 专业 -->
        <input type="hidden" name="specialtyId" th:value="${teachingPlan?.specialtyId?.id}">
        <!-- 年级 -->
        <input type="hidden" name="gradeId" th:value="${teachingPlan?.gradeId?.id}">
        <!-- 班级 -->
        <input type="hidden" name="clazzId" th:value="${teachingPlan?.clazzId?.id}">
        <!-- 周几上课 -->
        <input type="hidden" name="weeks" th:value="${teachingPlan?.weeks}">
        <!-- 第几节课 -->
        <input type="hidden" name="periodOfTime" th:value="${teachingPlan?.periodOfTime}">
        <!-- 学年 -->
        <input type="hidden" name="academicYear" th:value="${teachingPlan?.academicYear}">
        <!-- 学期 -->
        <input type="hidden" name="semester" th:value="${teachingPlan?.semester}">

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label required">课程</label>
                <div class="layui-input-inline">
                    <input type="hidden" name="courseId" th:value="${teachingPlan?.courseId?.id}" th:names="${teachingPlan?.courseId?.names}"/>
                    <div class="course"><i class="fa fa-user-plus" aria-hidden="true"></i> 点击选择课程</div>
                    <p style="color: #7D32A7; line-height: 2rem;"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> 只能选择一门课程</p>
                </div>
                <label class="layui-form-label required">授课教师</label>
                <div class="layui-input-inline">
                    <input type="hidden" name="teacherId" th:value="${teachingPlan?.teacherId?.id}" th:names="${teachingPlan?.teacherId?.names}" th:no="${teachingPlan?.teacherId?.no}"/>
                    <div class="teacher"><i class="fa fa-user-plus" aria-hidden="true"></i> 点击选择授课教师</div>
                    <p style="color: #7D32A7; line-height: 2rem;"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> 只能选择一名授课教师</p>
                </div>
                <label class="layui-form-label required">上课地点</label>
                <div class="layui-input-inline">
                    <input class="layui-input" name="address" th:value="${teachingPlan?.address}">
                </div>
            </div>
        </div>

        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">备注</label>
            <div class="layui-input-block">
                <textarea placeholder="请输入内容" class="layui-textarea" name="remark">[[${teachingPlan?.remark}]]</textarea>
            </div>
        </div>
        <div class="layui-form-item alan-finally">
            <button class="layui-btn alan-submit"><i class="fa fa-check-circle"></i> 保存</button>
            <button class="layui-btn btn-secondary close-popup"><i class="fa fa-times-circle"></i> 关闭</button>
        </div>
    </form>
</div>
<script th:replace="/common/template :: script"></script>
<script>
    layui.use(['form', 'upload', 'laydate'], function () {
        var $ = layui.jquery;
        var form = layui.form;
        var upload = layui.upload;
        var laydate = layui.laydate;
        // 课程
        var _courseIdEL = $("input[name='courseId']");
        var _courseNames = _courseIdEL.attr('names');
        var _courseId = _courseIdEL.val();
        if(_courseNames && _courseId){
            var _this = $(".course");
            _this.html('');
            var _html = '《'+_courseNames+'》';
            _this.html(_html);
        }
        $(".course").click(function(){
            var _this = $(this);
            var _dataUrl = '/system/course/show';
            layer.open({
                title: '课程信息',
                type: 2,
                area: ['80%', '80%'],
                maxmin: true,
                content: _dataUrl,
                btn: ['确定', '取消'],
                zIndex: layer.zIndex,
                success: function(layero, index){
                    layer.setTop(layero);
                },
                yes: function (index, layero) {
                    var body = layer.getChildFrame('body', index);  //此处我理解的是加载目标页面的内容
                    var checkedEl = body.find("input[type='checkbox'][checked]");
                    if(checkedEl.length>1){
                        layer.close(index);//这块是点击确定关闭这个弹出层
                        layer.msg('只能选择一门课程', {icon: 2});
                        setTimeout(function(){

                        }, 1500)
                        return;
                    }
                    // 处理课程id
                    if(checkedEl.length==1){
                        _this.html('');
                        var _html = '《'+checkedEl[0].name+'》';
                        _this.html(_html);
                        $("input[name='courseId']").val(checkedEl[0].id);　　//查到目标页面的内容赋给当前页面元素
                    }
                    layer.close(index);//这块是点击确定关闭这个弹出层
                }
            });
        });
        // 教师
        var _teacherIdEL = $("input[name='teacherId']");
        var _teacherNames = _teacherIdEL.attr('names');
        var _teacherNo = _teacherIdEL.attr('no');
        var _teacherId = _teacherIdEL.val();
        if(_teacherNames && _teacherId && _teacherNo){
            var _this = $(".course");
            _this.html('');
            var _html = _teacherNames+'('+_teacherNo+')';;
            _this.html(_html);
        }
        $(".teacher").click(function(){
            var _this = $(this);
            var _dataUrl = '/system/teacher/show';
            layer.open({
                title: '教师信息',
                type: 2,
                area: ['80%', '80%'],
                maxmin: true,
                content: _dataUrl,
                btn: ['确定', '取消'],
                zIndex: layer.zIndex,
                success: function(layero, index){
                    layer.setTop(layero);
                },
                yes: function (index, layero) {

                    var body = layer.getChildFrame('body', index);  //此处我理解的是加载目标页面的内容
                    var checkedEl = body.find("input[type='checkbox'][checked]");
                    if(checkedEl.length>1){
                        layer.close(index);//这块是点击确定关闭这个弹出层
                        layer.msg('只能选择一名授课教师', {icon: 2});
                        setTimeout(function(){

                        }, 1500)
                        return;
                    }
                    // 处理教师id
                    if(checkedEl.length==1){
                        _this.html('');
                        var _html = checkedEl[0].name+'('+checkedEl[0].attributes['no'].value+')';;
                        _this.html(_html);
                        $("input[name='teacherId']").val(checkedEl[0].id);　　//查到目标页面的内容赋给当前页面元素
                    }
                    layer.close(index);//这块是点击确定关闭这个弹出层
                }
            });
        });
        /* 提交表单数据 */
        $(document).on("click", ".alan-submit", function (e) {
            e.preventDefault();
            var form = $(this).parents("form");
            var url = form.attr("action");
            var serializeArray = form.serializeArray();
            $.post(url, serializeArray, function (result) {
                if (result.code === 200) {
                    layer.msg(result.msg, {offset: '15px', time: 3000, icon: 1});
                    setTimeout(function () {
                        var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                        parent.layer.close(index); //再执行关闭
                    }, 2000);
                } else {
                    layer.msg(result.msg, {offset: '15px', time: 3000, icon: 2});
                }
            });
        });
    })
</script>
</body>
</html>