<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common/template :: header(~{::title},~{::link},~{::style})">
</head>
<body>
    <div class="alan-detail-page">
        <div class="alan-detail-title">基本信息</div>
        <table class="layui-table alan-detail-table">
            <colgroup>
                <col width="100px"><col>
                <col width="100px"><col>
            </colgroup>
            <tbody>
                <tr>
                    <th>主键ID</th>
                    <td th:text="${student.id}"></td>
                    <th>系统用户</th>
                    <td th:text="${student.user}"></td>
                </tr>
                <tr>
                    <th>学号</th>
                    <td th:text="${student.stuNo}"></td>
                    <th>学籍号</th>
                    <td th:text="${student.stuNumber}"></td>
                </tr>
                <tr>
                    <th>姓名</th>
                    <td th:text="${student.names}"></td>
                    <th>曾用名</th>
                    <td th:text="${student.formerNames}"></td>
                </tr>
                <tr>
                    <th>性别</th>
                    <td th:text="${student.sex}"></td>
                    <th>出生年月</th>
                    <td th:text="${student.birthday}"></td>
                </tr>
                <tr>
                    <th>身份证类型</th>
                    <td th:text="${student.IDType}"></td>
                    <th>证件号</th>
                    <td th:text="${student.IDNo}"></td>
                </tr>
                <tr>
                    <th>民族</th>
                    <td th:text="${student.nation}"></td>
                    <th>户籍所在地</th>
                    <td th:text="${student.domicile}"></td>
                </tr>
                <tr>
                    <th>入学年月</th>
                    <td th:text="${student.admissionTime}"></td>
                    <th>人学方式</th>
                    <td th:text="${student.anthropology}"></td>
                </tr>
                <tr>
                    <th>就学方式</th>
                    <td th:text="${student.wayOfStudying}"></td>
                    <th>健康状况</th>
                    <td th:text="${student.healthStatus}"></td>
                </tr>
                <tr>
                    <th>身高</th>
                    <td th:text="${student.height}"></td>
                    <th>体重</th>
                    <td th:text="${student.weight}"></td>
                </tr>
                <tr>
                    <th>是否为留守儿童</th>
                    <td th:text="${student.isLBC}"></td>
                    <th>是否外来务工人员子女</th>
                    <td th:text="${student.isCOMW}"></td>
                </tr>
                <tr>
                    <th>是否享受“一 补”</th>
                    <td th:text="${student.isEOS}"></td>
                    <th>家庭地址</th>
                    <td th:text="${student.familyAddress}"></td>
                </tr>
                <tr>
                    <th>现住址</th>
                    <td th:text="${student.currentAddress}"></td>
                    <th>监护人姓名</th>
                    <td th:text="${student.guardianNames}"></td>
                </tr>
                <tr>
                    <th>监护人电话</th>
                    <td th:text="${student.guardianPhone}"></td>
                    <th>照片</th>
                    <td th:text="${student.photo}"></td>
                </tr>
                <tr>
                    <th>院系id</th>
                    <td th:text="${student.collegeId}"></td>
                    <th>专业id</th>
                    <td th:text="${student.specialtyId}"></td>
                </tr>
                <tr>
                    <th>年级id</th>
                    <td th:text="${student.gradeId}"></td>
                    <th>班级id</th>
                    <td th:text="${student.clazzId}"></td>
                </tr>
                <tr>
                    <th>创建者</th>
                    <td th:text="${student.createBy?.nickname}"></td>
                    <th>更新者</th>
                    <td th:text="${student.updateBy?.nickname}"></td>
                </tr>
                <tr>
                    <th>创建时间</th>
                    <td th:text="${#dates.format(student.createDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
                    <th>更新时间</th>
                    <td th:text="${#dates.format(student.updateDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
                </tr>
                <tr>
                    <th>备注</th>
                    <td th:text="${student.remark}" colspan="3"></td>
                </tr>
            </tbody>
        </table>
    </div>
<script th:replace="/common/template :: script"></script>
</body>
</html>