<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:mo="https://gitee.com/aun/alan">
<head th:replace="/common/template :: header(~{::title},~{::link},~{::style})">
    <script th:replace="/common/template :: script"></script>
    <script type="text/javascript" th:src="@{/js/plugins/jquery-2.2.4.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/plugins/jquery.mousewheel.min.js}"></script>
</head>
<body class="alan-layout-page">
<div class="layui-card">
    <div class="layui-card-header alan-card-header">
        <span><i class="fa fa-bars"></i> 学生信息管理</span>
        <i class="layui-icon layui-icon-refresh refresh-btn"></i>
    </div>
    <div class="layui-card-body">
        <div class="layui-row alan-card-screen">
            <div class="pull-left layui-form-pane alan-search-box">
                <div class="layui-inline">
                    <label class="layui-form-label">院系</label>
                    <div class="layui-input-block">
                        <select class="layui-input select-dept" name="college" data-url="/system/dept/getChilds" parend-id="1"></select>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">专业</label>
                    <div class="layui-input-block">
                        <select class="layui-input select-dept" name="specialty" data-url="/system/dept/getChilds" parend-id=""></select>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">年级</label>
                    <div class="layui-input-block">
                        <select class="layui-input select-dept" name="grade" data-url="/system/dept/getChilds" parend-id=""></select>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">班级</label>
                    <div class="layui-input-block">
                        <select class="layui-input select-dept" name="clazz" data-url="/system/dept/getChilds" parend-id=""></select>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">学号</label>
                    <div class="layui-input-block">
                        <input type="text" name="stuNo" th:value="${param.stuNo}" placeholder="请输入学号" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">学籍号</label>
                    <div class="layui-input-block">
                        <input type="text" name="stuNumber" th:value="${param.stuNumber}" placeholder="请输入学籍号" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">姓名</label>
                    <div class="layui-input-block">
                        <input type="text" name="names" th:value="${param.names}" placeholder="请输入姓名" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">证件号</label>
                    <div class="layui-input-block">
                        <input type="text" name="idNo" th:value="${param.idNo}" placeholder="请输入证件号" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">人学方式</label>
                    <div class="layui-input-block">
                        <select class="layui-input" name="anthropology" mo:dict="ANTHROPOLOGY" mo-selected="${student?.anthropology}" mo-empty="" lay-verify="anthropology"></select>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">就学方式</label>
                    <div class="layui-input-block">
                        <select class="layui-input" name="wayOfStudying" mo:dict="WAY_OF_STUDYING" mo-selected="${student?.wayOfStudying}" mo-empty="" lay-verify="wayOfStudying"></select>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">状态</label>
                    <div class="layui-input-block alan-search-status">
                        <select class="alan-search-select" name="status" mo:dict="SEARCH_STATUS" mo-selected="${param.status}"></select>
                    </div>
                </div>
                <div class="layui-inline">
                    <button class="layui-btn alan-search-btn">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
            <div class="pull-right screen-btn-group">
                <button class="layui-btn open-popup" data-title="添加学生信息" th:attr="data-url=@{/system/student/add}" data-size="634,600">
                    <i class="fa fa-plus"></i> 添加</button>
                <div class="btn-group">
                    <button class="layui-btn">操作<span class="caret"></span></button>
                    <dl class="layui-nav-child layui-anim layui-anim-upbit">
                        <dd><a class="ajax-status" th:href="@{/system/student/status/ok}">启用</a></dd>
                        <dd><a class="ajax-status" th:href="@{/system/student/status/freezed}">冻结</a></dd>
                        <dd><a class="ajax-status" th:href="@{/system/student/status/delete}">删除</a></dd>
                    </dl>
                </div>
            </div>
        </div>
        <div class="alan-table-wrap">
            <table class="layui-table alan-table">
                <thead>
                <tr>
                    <th class="alan-table-checkbox">
                        <label class="alan-checkbox"><input type="checkbox">
                            <i class="layui-icon layui-icon-ok"></i></label>
                    </th>
                    <th>院系</th>
                    <th>专业</th>
                    <th>年级</th>
                    <th>班级</th>
                    <th>照片</th>
                    <th>学号</th>
                    <th>姓名</th>
                    <th>性别</th>
                    <th>数据状态</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="item:${list}">
                    <td><label class="alan-checkbox"><input type="checkbox" th:value="${item.id}">
                        <i class="layui-icon layui-icon-ok"></i></label></td>
                    <td th:text="${item.collegeId?.title}">院系</td>
                    <td th:text="${item.specialtyId?.title}">专业</td>
                    <td th:text="${item.gradeId?.title}">年级</td>
                    <td th:text="${item.clazzId?.title}">班级</td>
                    <td><img th:src="${item.photo}" height="100px"></td>
                    <td th:text="${item.stuNo}">学号</td>
                    <td th:text="${item.names}">姓名</td>
                    <td th:text="${#dicts.keyValue('USER_SEX', item.sex)}">性别</td>
                    <td th:text="${#dicts.dataStatus(item.status)}">数据状态</td>
                    <td>
                        <a class="open-popup" data-title="编辑学生信息" th:attr="data-url=@{'/system/student/edit/'+${item.id}}" data-size="auto" href="#">编辑</a>
                        <a class="open-popup" data-title="详细信息" th:attr="data-url=@{'/system/student/detail/'+${item.id}}" data-size="800,600" href="#">详细</a>
                        <a class="ajax-get" data-msg="您是否确认删除" th:href="@{/system/student/status/delete(ids=${item.id})}">删除</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div th:replace="/common/fragment :: page"></div>
    </div>
</div>
<script th:replace="/common/template :: script"></script>
<script>
    layui.use(['tree', 'util'], function(){
        var $ = layui.jquery;
        $(".select-dept").css("min-width", "100px");

        $(".select-dept").click(function(){
            var _this = $(this);
            var _name = _this.attr('name');
            var _dataUrl = $(this).attr('data-url');
            var _parendId = null;
            var _val = $('.select-dept[name="'+_name+'"] option:selected').val();
            if(_name=='college'){
                _parendId = $(this).attr('parend-id');
                $(".select-dept[name='specialty']").html('');
            }else if(_name=='specialty'){
                _parendId = $(".select-dept[name='college']").val();
                $(".select-dept[name='grade']").html('');
            }else if(_name=='grade'){
                _parendId = $(".select-dept[name='specialty']").val();
                $(".select-dept[name='clazz']").html('');
            }else if(_name=='clazz'){
                _parendId = $(".select-dept[name='grade']").val();
            }
            if(_parendId==null || _val!=null){
                return;
            }
            $.post(_dataUrl, {'pid': _parendId}, function(data, status){
                var _data = data.data;
                if(data && data.code==200){
                    _this.html('');
                    _this.attr('parend-id', _parendId);
                    for(var i=0; i<_data.length; i++){
                        _this.append('<option value='+_data[i].id+'>'+_data[i].title+'</option>')
                    }
                }else{
                    layer.msg(data.msg, {icon: 2});
                }
            });
        });
    })
</script>
</body>
</html>