<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:mo="https://gitee.com/aun/alan">
<head th:replace="/common/template :: header(~{::title},~{::link},~{::style})">
</head>
<body>
<div class="layui-form">
    <form th:action="@{/system/student/save}" class="layui-form-pane alan-form-pane">
        <input type="hidden" name="id" th:if="${student}" th:value="${student.id}">
        <div class="layui-form-item">
            <label class="layui-form-label required">一寸半身照</label>
            <div class="layui-input-block">
                <input class="layui-input" type="hidden" name="photo" id="photo" th:value="${student?.photo}">
                <div class="layui-upload-drag" id="button-photo">
                    <i class="layui-icon"></i>
                    <p>点击上传，或将文件拖拽到此处</p>
                    <div th:class="${student!=null && student.photo!=null && student.photo.length()>0}? '' : 'layui-hide'" id="uploadDemoView">
                        <hr>
                        <img th:src="${student?.photo}" alt="上传成功后渲染" style="max-width: 196px">
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label required">学号</label>
                <div class="layui-input-inline">
                    <input class="layui-input" type="text" name="stuNo" placeholder="请输入学号"
                           th:value="${student?.stuNo}" readonly>
                </div>
                <label class="layui-form-label required">姓名</label>
                <div class="layui-input-inline">
                    <input class="layui-input" type="text" name="names" placeholder="请输入姓名"
                           th:value="${student?.names}" readonly>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label required">性别</label>
                <div class="layui-input-inline">
                    <input type="radio" name="sex" value="1" title="男" checked>
                    <div class="layui-unselect layui-form-radio layui-form-radioed"><i
                            class="layui-anim layui-icon"></i>
                        <div>男</div>
                    </div>
                    <input type="radio" name="sex" value="2" title="女" th:checked="${student?.sex} eq 2">
                    <div class="layui-unselect layui-form-radio"><i class="layui-anim layui-icon"></i>
                        <div>女</div>
                    </div>
                </div>
                <label class="layui-form-label required">手机号</label>
                <div class="layui-input-inline">
                    <input class="layui-input" type="text" name="phone" placeholder="请输入手机号"
                           th:value="${student?.phone}">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label required">出生年月</label>
                <div class="layui-input-inline">
                    <input class="layui-input" type="text" name="birthday" th:value="${#dates.format(student?.birthday, 'yyyy-MM-dd')}" id="birthday" placeholder="yyyy-MM-dd" autocomplete="off">
                </div>
                <label class="layui-form-label">学籍号</label>
                <div class="layui-input-inline">
                    <input class="layui-input" type="text" name="stuNumber" placeholder="请输入学籍号"
                           th:value="${student?.stuNumber}">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label required">身份证类型</label>
                <div class="layui-input-inline">
                    <select name="idType" mo:dict="ID_TYPE" mo-selected="${student?.idType}" mo-empty="" lay-verify="idType"></select>
                </div>
                <label class="layui-form-label required">证件号</label>
                <div class="layui-input-inline">
                    <input class="layui-input" type="text" name="idNo" placeholder="请输入证件号" th:value="${student?.idNo}">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">曾用名</label>
                <div class="layui-input-inline">
                    <input class="layui-input" type="text" name="formerNames" placeholder="请输入曾用名"
                           th:value="${student?.formerNames}">
                </div>
                <label class="layui-form-label required">民族</label>
                <div class="layui-input-inline">
                    <select name="nation" mo:dict="NATION" mo-selected="${student?.idType}" mo-empty="" lay-verify="nation"></select>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label required">户籍所在地</label>
                <div class="layui-input-inline">
                    <input class="layui-input" type="text" name="domicile" placeholder="请输入户籍所在地"
                           th:value="${student?.domicile}">
                </div>
                <label class="layui-form-label required">就学方式</label>
                <div class="layui-input-inline">
                    <select name="wayOfStudying" mo:dict="WAY_OF_STUDYING" mo-selected="${student?.wayOfStudying}" mo-empty="" lay-verify="wayOfStudying"></select>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label required">入学年月</label>
                <div class="layui-input-inline">
                    <input class="layui-input" type="text" name="admissionTime" th:value="${#dates.format(student?.admissionTime, 'yyyy-MM-dd')}" id="admissionTime" placeholder="yyyy-MM-dd" autocomplete="off">
                </div>
                <label class="layui-form-label required">人学方式</label>
                <div class="layui-input-inline">
                    <select class="layui-input" name="anthropology" mo:dict="ANTHROPOLOGY" mo-selected="${student?.anthropology}" mo-empty="" lay-verify="anthropology"></select>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">健康状况</label>
                <div class="layui-input-inline">
                    <input class="layui-input" type="text" name="healthStatus" placeholder="请输入健康状况"
                           th:value="${student?.healthStatus}">
                </div>
                <label class="layui-form-label">身高</label>
                <div class="layui-input-inline">
                    <input class="layui-input" type="number" name="height" placeholder="请输入身高"
                           th:value="${student?.height}" readonly>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">体重</label>
                <div class="layui-input-inline">
                    <input class="layui-input" type="number" name="weight" placeholder="请输入体重"
                           th:value="${student?.weight}" readonly>
                </div>
                <label class="layui-form-label">留守儿童</label>
                <div class="layui-input-inline">
                    <input type="checkbox" name="isLBC" id="isLBC" lay-skin="switch" lay-text="是|否" th:value="${student?.isLBC}" th:checked="${student!=null && student.isLBC==1}" lay-filter="isLBC" disabled>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label" title="外来务工人员子女">外来务工人员子女</label>
                <div class="layui-input-inline">
                    <input type="checkbox" name="isCOMW" id="isCOMW" lay-skin="switch" lay-text="是|否" th:value="${student?.isCOMW}" th:checked="${student!=null && student.isCOMW==1}" lay-filter="isCOMW" disabled>
                </div>
                <label class="layui-form-label">享受“一 补”</label>
                <div class="layui-input-inline">
                    <input type="checkbox" name="isEOS" id="isEOS" lay-skin="switch" lay-text="是|否" th:value="${student?.isEOS}" th:checked="${student!=null && student.isEOS==1}" lay-filter="isEOS" disabled>
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label required">家庭地址</label>
            <div class="layui-input-block">
                <input class="layui-input" type="text" name="familyAddress" placeholder="请输入家庭地址"
                       th:value="${student?.familyAddress}">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label required">现住址</label>
            <div class="layui-input-block">
                <input class="layui-input" type="text" name="currentAddress" placeholder="请输入现住址"
                       th:value="${student?.currentAddress}">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label required">监护人姓名</label>
                <div class="layui-input-inline">
                    <input class="layui-input" type="text" name="guardianNames" placeholder="请输入监护人姓名"
                           th:value="${student?.guardianNames}" readonly>
                </div>
                <label class="layui-form-label required">监护人电话</label>
                <div class="layui-input-inline">
                    <input class="layui-input" type="text" name="guardianPhone" placeholder="请输入监护人电话"
                           th:value="${student?.guardianPhone}" readonly>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">院系</label>
                <div class="layui-input-inline">
                    <input type="hidden" name="collegeId" th:value="${student?.collegeId?.id}">
                    <input class="layui-input" type="text"  th:value="${student?.collegeId?.title}" readonly>
                </div>
                <label class="layui-form-label">专业</label>
                <div class="layui-input-inline">
                    <input type="hidden" name="specialtyId" th:value="${student?.specialtyId?.id}">
                    <input class="layui-input" type="text"  th:value="${student?.specialtyId?.title}" readonly>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">年级</label>
                <div class="layui-input-inline">
                    <input type="hidden" name="gradeId" th:value="${student?.gradeId?.id}">
                    <input class="layui-input" type="text"  th:value="${student?.gradeId?.title}" readonly>
                </div>
                <label class="layui-form-label">班级</label>
                <div class="layui-input-inline">
                    <input type="hidden" name="clazzId" th:value="${student?.clazzId?.id}">
                    <input class="layui-input" type="text"  th:value="${student?.clazzId?.title}" readonly>
                </div>
            </div>
        </div>
        <input type="hidden" name="remark" th:value="${student?.remark}">
        <div class="layui-form-item alan-finally alan-form-button">
            <button class="layui-btn ajax-submit"><i class="fa fa-check-circle"></i> 保存</button>
            <button class="layui-btn btn-secondary close-popup"><i class="fa fa-times-circle"></i> 关闭</button>
        </div>
    </form>
</div>
<script th:replace="/common/template :: script"></script>
<script>
    layui.use(['form', 'upload', 'laydate'], function () {
        var $ = layui.jquery;
        var form = layui.form;
        var upload = layui.upload;
        var laydate = layui.laydate;
        // 照片
        // 拖拽上传图片
        upload.render({
            elem: '#button-photo'
            , url: '/upload/image'
            , field: 'image'
            , exts: 'jpg|png|gif|jpeg'
            , done: function (res) {
                //上传成功
                if (res && res.code == 200) {
                    layer.msg('上传成功');
                    $("#photo").val(res.data.path);
                    layui.$('#uploadDemoView').removeClass('layui-hide').find('img').attr('src', res.data.path);
                } else {
                    layer.msg('上传失败');
                }
            }
        });

        // 出生年月
        laydate.render({
            elem: '#birthday' //指定元素
            ,calendar: true //是否显示公历节日
            ,trigger: 'click' //采用click弹出
        });

        // 入学年月
        laydate.render({
            elem: '#admissionTime' //指定元素
            ,calendar: true //是否显示公历节日
            ,trigger: 'click' //采用click弹出
        });

        // 留守儿童
        form.on('switch(isLBC)', function(data){
            if(data.elem.checked){
                $("#isLBC").val(1)
            } else {
                $("#isLBC").val(0)
            }
        });
        // 外来务工人员子女
        form.on('switch(isCOMW)', function(data){
            if(data.elem.checked){
                $("#isCOMW").val(1)
            } else {
                $("#isCOMW").val(0)
            }
        });
        // 享受“一 补”
        form.on('switch(isEOS)', function(data){
            if(data.elem.checked){
                $("#isEOS").val(1)
            } else {
                $("#isEOS").val(0)
            }
        });
    })
</script>
</body>
</html>