<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:mo="https://gitee.com/aun/alan">
<head th:replace="/common/template :: header(~{::title},~{::link},~{::style})">
    <link rel="stylesheet" th:href="@{/lib/Timetable/css/Timetables.min.css}"  media="all">
    <style>
        .layui-tree-txt, #coursesTable{
            moz-user-select: -moz-none;
            -moz-user-select: none;
            -o-user-select:none;
            -khtml-user-select:none;
            -webkit-user-select:none;
            -ms-user-select:none;
            user-select:none;
        }
    </style>
</head>
<body class="alan-layout-page">
<div class="layui-card" style="height: calc(100vh - 36px);margin: 0px;">
    <div class="layui-card-header alan-card-header">
        <span><i class="fa fa-bars"></i> 教学计划管理</span>
        <i class="layui-icon layui-icon-refresh refresh-btn"></i>
    </div>
    <div class="layui-card-body layui-row">
        <div class="layui-col-lg12 layui-col-sm12">
            <div class="layui-row alan-card-screen">
                <form class="layui-form" lay-filter="teachingPlanParam" action="#">
                    <div class="pull-left layui-form-pane alan-search-box">
                        <div class="layui-inline">
                            <label class="layui-form-label">院系</label>
                            <div class="layui-input-block">
                                <input class="layui-input layui-disabled" type="text" th:value="${student?.collegeId?.title}" readonly>
                            </div>
                        </div>

                        <div class="layui-inline">
                            <label class="layui-form-label">专业</label>
                            <div class="layui-input-block">
                                <input class="layui-input layui-disabled" type="text" th:value="${student?.specialtyId?.title}" readonly>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">年级</label>
                            <div class="layui-input-block">
                                <input class="layui-input layui-disabled" type="text" th:value="${student?.gradeId?.title}" readonly>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">班级</label>
                            <div class="layui-input-block">
                                <input class="layui-input layui-disabled" type="text" th:value="${student?.clazzId?.title}" readonly>
                            </div>
                        </div>
                        <!-- 院系 -->
                        <input type="hidden" name="collegeId" th:value="${student?.collegeId?.id}" id="collegeId">
                        <!-- 专业 -->
                        <input type="hidden" name="specialtyId" th:value="${student?.specialtyId?.id}" id="specialtyId">
                        <!-- 年级 -->
                        <input type="hidden" name="gradeId" th:value="${student?.gradeId?.id}" id="gradeId">
                        <!-- 班级 -->
                        <input type="hidden" name="clazzId" th:value="${student?.clazzId?.id}" id="clazzId">
                        <div class="layui-inline">
                            <label class="layui-form-label">学年</label>
                            <div class="layui-input-block">
                                <input class="layui-input" type="text" name="academicYear" id="academicYear" autocomplete="off" readonly>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">学期</label>
                            <div class="layui-input-block">
                                <select name="semester" id="semester" lay-filter="semester">
                                    <option value="1">上学期</option>
                                    <option value="2">下学期</option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <a class="layui-btn alan-refresh">
                                <i class="fa fa-refresh"></i>
                            </a>
                        </div>
                    </div>
                </form>
            </div>
            <div class="alan-table-wrap">
                <div class="layui-card alan-nav-tree">
                    <div class="layui-card-header"><i class="fa fa-calendar"></i> 教学日程</div>
                    <div class="layui-card-body" style="padding: 0px;margin: 0px;">
                        <div id="coursesTable"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:replace="/common/template :: script"></script>
<script th:src="@{/lib/Timetable/js/Timetables.min.js}" charset="utf-8"></script>
<script>
    layui.use(['form', 'upload', 'laydate', "tree"], function(){
        var $ = layui.jquery;
        var form = layui.form;
        var laydate = layui.laydate;
        // 学年
        laydate.render({
            elem: '#academicYear' //指定元素
            ,type: 'year'
            ,trigger: 'click' //采用click弹出
            ,format: 'yyyy年'
            ,max: 0
            ,value: new Date() // 初始值
            ,done: function(value, date, endDate){
                // 点击渲染教学日程
                renderTeachingPlan(false);
            }
        });


        /*
        教学日程
        */
        var formFilter = "teachingPlanParam";
        var paramKeys = ["collegeId","specialtyId","gradeId","clazzId","academicYear","semester","weeks","periodOfTime","selectType"];
        var paramNullMessage = [
            '请在<span style="color:red;">部门结构</span>中选择<span style="color:red;">班级</span>',
            '请选择<span style="color:red;">学年</span>',
            '请选择<span style="color:red;">学期</span>',
            '请<span style="color:red;">教学计划</span>中选择<span style="color:red;">教学日程</span>'
        ];
        /*
        Common Function
        */
        // 获取参数
        var getParam = function(){
            return form.val(formFilter)
        }
        // 序列化参数为路径参数
        var serializeParam = function(data) {
            if(!data){
                return "";
            }
            var param = "";
            for(var key in data){
                param += key + "=" + data[key] + "&";
            }
            return param.substring(0, param.length-1);
        }
        // 转换周
        var getWeeks = function(week){
            if(!week){
                return "";
            }
            week = week.replace(/周/g, '');
            switch(week){
                case '一':
                    return 1;
                case '二':
                    return 2;
                case '三':
                    return 3;
                case '四':
                    return 4;
                case '五':
                    return 5;
                case '六':
                    return 6;
                case '日':
                    return 7;
            }
            return "";
        }

        // 检查查询参数
        var checkSelectParam = function(tips){
            var formData = getParam();
            var _paramKeys = ["clazzId","academicYear","semester"];
            var _params = ["collegeId","specialtyId","gradeId","clazzId","academicYear","semester"];
            var _paramNullMessage = [
                '请联系管理员为您分配<span style="color:red;">学院</span>、<span style="color:red;">专业</span>、<span style="color:red;">年级</span>、<span style="color:red;">班级</span>',
                '请选择<span style="color:red;">学年</span>',
                '请选择<span style="color:red;">学期</span>'
            ];
            // 去掉多余字段
            for(var key in formData){
                if(_params.indexOf(key) == -1){
                    delete formData[key];
                }
            }
            for(var key in _paramKeys){
                if(!formData[paramKeys[key]]){
                    if(tips){
                        layer.msg(_paramNullMessage[key], {icon: 2});
                    }
                    return null;
                }
            }
            return formData;
        }

        /*
        教学计划
        */
        var courseList = [
            ['','','','','','','','','','','','',''],
            ['','','','','','','','','','','','',''],
            ['','','','','','','','','','','','',''],
            ['','','','','','','','','','','','',''],
            ['','','','','','','','','','','','',''],
            ['','','','','','','','','','','','',''],
            ['','','','','','','','','','','','','']
        ];
        var week = window.innerWidth > 360 ? ['周一', '周二', '周三', '周四', '周五', '周六', '周日'] : ['一', '二', '三', '四', '五', '六', '日'];
        var day = new Date().getDay();
        var courseType = [
            [{index: '1',name: '8:30-9:15'}, 1],
            [{index: '2',name: '9:25-10:10'}, 1],
            [{index: '3',name: '10:30-11:15'}, 1],
            [{index: '4',name: '11:25-12:10'}, 1],
            [{index: '',name: ''}, 1],
            [{index: '5',name: '14:00-14:45'}, 1],
            [{index: '6',name: '14:55-15:40'}, 1],
            [{index: '7',name: '15:50-16:35'}, 1],
            [{index: '8',name: '16:35-17:20'}, 1],
            [{index: '',name: ''}, 1],
            [{index: '9',name: '19:00-19:45'}, 1],
            [{index: '10',name: '19:55-20:40'}, 1],
            [{index: '11',name: '20:50-21:35'}, 1]
        ];
        var option = {
            el: '#coursesTable',
            timetables: courseList,
            week: week,
            timetableType: courseType,
            highlightWeek: day,
            gridOnClick: function(info, el) {
                var _this = $(el);
                var yes = _this.hasClass("grid-active");
            },
            styles: {
                Gheight: 50
            }
        };
        // 渲染教学日程
        var renderTeachingPlan = function(tips){
            var url = "/system/teachingPlan/getList"
            var formData = checkSelectParam(tips);
            if(!formData){
                return;
            }
            var index = layer.load();
            $.post(url, formData, function(result){
                layer.close(index);
                if(result && result.data){
                    if(tips){
                        layer.msg(result.msg, {icon: 1});
                    }
                    // 处理教学计划courseList
                    setCourseList(result.data);
                    // 渲染教学日程
                    Timetable.setOption(option);
                }else{
                    layer.msg(result.msg, {icon: 2});
                }
            });
        }
        // 处理教学计划courseList
        var setCourseList = function(data){
            if(!data){
                return;
            }
            courseList = [
                ['','','','','','','','','','','','',''],
                ['','','','','','','','','','','','',''],
                ['','','','','','','','','','','','',''],
                ['','','','','','','','','','','','',''],
                ['','','','','','','','','','','','',''],
                ['','','','','','','','','','','','',''],
                ['','','','','','','','','','','','','']
            ];
            if(data.length==0){
                option.timetables = courseList;
                return;
            }
            for(var i in data){
                var week = data[i].weeks;
                var index = data[i].periodOfTime;
                var course = data[i].courseId;
                var teacher = data[i].teacherId;
                var address = data[i].address==null?"":data[i].address;
                if(week && index && course && teacher) {
                    courseList[week-1][index-1] = "《"+course.names+"》- "+teacher.names;
                    if(address){
                        courseList[week-1][index-1] += " ["+address+"]";
                    }
                }
            }
            option.timetables = courseList;
        }
        // 实例化(初始化课表)
        var Timetable = new Timetables(option);


        /*
		事件监听
		*/

        // 监听刷新事件
        $(".alan-refresh").click(function(){
            renderTeachingPlan(true);
        });
        // 监听点击学期事件
        form.on('select(semester)', function(data){
            // 点击渲染教学日程
            renderTeachingPlan(false);
        });
        // 渲染教学日程
        renderTeachingPlan(false);
    });
</script>
</body>
</html>