<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:mo="https://gitee.com/aun/alan">
<head th:replace="/common/template :: header(~{::title},~{::link},~{::style})">
    <style>
        .students, .course{
            border: 1px solid #7D32A7;
            width: 190px;
            height: 36px;
            border-radius: 2px;
            text-align: left;
            color: -internal-light-dark(black, white);
            line-height: 36px;
            padding-left: 10px;
            transition: all .3s;
            transition-property: all;
            transition-duration: 0.3s;
            transition-timing-function: ease;
            transition-delay: 0s;
            -webkit-transition: all .3s;
        }
        .students:hover, .course:hover{
            border: 1px solid #7D32A7;
            cursor: pointer;
        }
    </style>
</head>
<body class="alan-layout-page">
<div class="layui-card">
    <div class="layui-card-header alan-card-header">
        <span><i class="fa fa-bars"></i> 学生成绩</span>
        <i class="layui-icon layui-icon-refresh refresh-btn"></i>
    </div>
    <div class="layui-card-body">
        <div class="layui-row alan-card-screen">
            <div class="pull-left layui-form-pane alan-search-box">
                <div class="layui-inline">
                    <label class="layui-form-label">状态</label>
                    <div class="layui-input-block alan-search-status">
                        <select class="alan-search-select" name="status" mo:dict="SEARCH_STATUS" mo-selected="${param.status}"></select>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">学年</label>
                    <div class="layui-input-block">
                        <input class="layui-input" type="text" name="academicYear" th:value="${param.academicYear}" id="academicYear" autocomplete="off" readonly>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">学期</label>
                    <div class="layui-input-block alan-search-status">
                        <select class="alan-search-select" name="semester" mo:dict="SEMESTER" mo-selected="${param?.semester}" mo-empty="" lay-verify="semester"></select>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">学生</label>
                    <div class="layui-input-block">
                        <input type="hidden" name="studentId" th:value="${param.studentId}"/>
                        <input type="hidden" name="stuNo" th:value="${param.stuNo}"/>
                        <input type="hidden" name="stuNames" th:value="${param.stuNames}"/>
                        <div class="students"><i class="fa fa-user-plus" aria-hidden="true"></i> 点击选择学生</div>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">课程</label>
                    <div class="layui-input-block">
                        <input type="hidden" name="courseId" th:value="${param.courseId}">
                        <input type="hidden" name="courseNames" th:value="${param.courseNames}">
                        <div class="course"><i class="fa fa-user-plus" aria-hidden="true"></i> 点击选择课程</div>
                    </div>
                </div>
                <div class="layui-inline">
                    <button class="layui-btn alan-search-btn">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
            <div class="pull-right screen-btn-group">
                <button class="layui-btn open-popup" data-title="添加学生成绩" th:attr="data-url=@{/system/score/add}" data-size="max">
                    <i class="fa fa-plus"></i> 添加</button>
                <div class="btn-group">
                    <button class="layui-btn">操作<span class="caret"></span></button>
                    <dl class="layui-nav-child layui-anim layui-anim-upbit">
                        <dd><a class="ajax-status" th:href="@{/system/score/status/ok}">启用</a></dd>
                        <dd><a class="ajax-status" th:href="@{/system/score/status/freezed}">冻结</a></dd>
                        <dd><a class="ajax-status" th:href="@{/system/score/status/delete}">删除</a></dd>
                    </dl>
                </div>
            </div>
        </div>
        <div class="alan-table-wrap">
            <table class="layui-table alan-table">
                <thead>
                <tr>
                    <th class="alan-table-checkbox">
                        <label class="alan-checkbox"><input type="checkbox">
                            <i class="layui-icon layui-icon-ok"></i></label>
                    </th>
                    <th>学年</th>
                    <th>学期</th>
                    <th>学生</th>
                    <th>课程</th>
                    <th>分数</th>
                    <th>成绩说明</th>
                    <th>数据状态</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="item:${list}">
                    <td><label class="alan-checkbox"><input type="checkbox" th:value="${item.id}">
                        <i class="layui-icon layui-icon-ok"></i></label></td>
                    <td th:text="${item.academicYear}">学年</td>
                    <td th:text="${#dicts.keyValue('SEMESTER', item.semester)}">学期</td>
                    <td>
                        <a th:text="${item.studentId?.names}" th:title="${item.studentId?.stuNo}" th:onclick="showStudent([[${item.studentId?.id}]], [[${item.studentId?.names}]], [[${item.studentId?.stuNo}]])"></a>
                    </td>
                    <td>
                        <a th:text="${'《'+item.courseId?.names+'》'}" th:title="${item.courseId?.id}" th:onclick="showScore([[${item.courseId?.id}]], [[${item.courseId?.names}]])"></a>
                    </td>
                    <td th:text="${item.fraction}">分数</td>
                    <td th:text="${item.description}">成绩说明</td>
                    <td th:text="${#dicts.dataStatus(item.status)}">数据状态</td>
                    <td>
                        <a class="open-popup" data-title="编辑学生成绩" th:attr="data-url=@{'/system/score/edit/'+${item.id}}" data-size="max" href="#">编辑</a>
                        <a class="open-popup" data-title="详细信息" th:attr="data-url=@{'/system/score/detail/'+${item.id}}" data-size="800,600" href="#">详细</a>
                        <a class="ajax-get" data-msg="您是否确认删除" th:href="@{/system/score/status/delete(ids=${item.id})}">删除</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div th:replace="/common/fragment :: page"></div>
    </div>
</div>
<script th:replace="/common/template :: script"></script>
<script type="text/javascript">
    var showStudent = function(id, names, stuNo){
        layui.use('layer', function(){
            var $ = layui.jquery, layer = layui.layer;
            layer.msg('<div style="text-align: left;"><font color="red">ID：</font>'+id+'<br /><font color="red">姓名：</font>'+names+'<br /><font color="red">学号：</font>'+stuNo+'</div>', {
                time: 0,
                btn: ['关闭', '知道了', '哦']
            });
        })
    }
    var showScore = function(id, names){
        layui.use('layer', function(){
            var $ = layui.jquery, layer = layui.layer;
            layer.msg('<div style="text-align: left;"><font color="red">ID：</font>'+id+'<br /><font color="red">课程名称：</font>《'+names+'》</div>', {
                time: 0,
                btn: ['关闭', '知道了', '哦']
            });
        })
    }
    layui.use(['form', 'upload', 'laydate'], function () {
        var $ = layui.jquery;
        var form = layui.form;
        var upload = layui.upload;
        var laydate = layui.laydate;
        // 学年
        laydate.render({
            elem: '#academicYear' //指定元素
            ,type: 'year'
            ,trigger: 'click' //采用click弹出
            ,format: 'yyyy年'
            ,max: 0
        });
        // 学生
        var _stuNames = $("input[name='studentId']").val();
        var _stuId = $("input[name='stuNames']").val();
        var _stuNo = $("input[name='stuNo']").val();
        if(_stuNames && _stuId && _stuNo){
            var _this = $(".students");
            _this.html('');
            var _html = _stuNames+'('+_stuNo+')';
            _this.html(_html);
        }
        $(".students").click(function(){
            var _this = $(this);
            var _dataUrl = '/system/student/show';
            //通过这种方式弹出的层，每当它被选择，就会置顶。
            layer.open({
                title: '学生信息',
                type: 2,
                area: ['80%', '80%'],
                maxmin: true,
                content: _dataUrl,
                btn: ['确定', '取消'],
                zIndex: layer.zIndex,
                success: function(layero, index){
                    layer.setTop(layero);
                },
                yes: function (index, layero) {
                    var body = layer.getChildFrame('body', index);  //此处我理解的是加载目标页面的内容
                    var checkedEl = body.find("input[type='checkbox'][checked]");
                    if(checkedEl.length>1){
                        layer.close(index);//这块是点击确定关闭这个弹出层
                        layer.msg('只能选择一个学生', {icon: 2});
                        setTimeout(function(){}, 1500)
                        return;
                    }
                    // 处理学生id
                    if(checkedEl.length==1){
                        _this.html('');
                        var _html = checkedEl[0].name+'('+checkedEl[0].attributes['stuno'].value+')';
                        _this.html(_html);
                        $("input[name='studentId']").val(checkedEl[0].value);　　//查到目标页面的内容赋给当前页面元素
                        $("input[name='stuNames']").val(checkedEl[0].name);
                        $("input[name='stuNo']").val(checkedEl[0].attributes['stuno'].value);
                    }
                    layer.close(index);//这块是点击确定关闭这个弹出层
                }
            });
        });
        // 课程
        var _courseNames = $("input[name='courseNames']").val();
        var _courseId = $("input[name='courseId']").val();
        if(_courseNames && _courseId){
            var _this = $(".course");
            _this.html('');
            var _html = '《'+_courseNames+'》';
            _this.html(_html);
        }
        $(".course").click(function(){
            var _this = $(this);
            var _dataUrl = '/system/course/show';
            //通过这种方式弹出的层，每当它被选择，就会置顶。
            layer.open({
                title: '课程信息',
                type: 2,
                area: ['80%', '80%'],
                maxmin: true,
                content: _dataUrl,
                btn: ['确定', '取消'],
                zIndex: layer.zIndex,
                success: function(layero, index){
                    layer.setTop(layero);
                },
                yes: function (index, layero) {
                    var body = layer.getChildFrame('body', index);  //此处我理解的是加载目标页面的内容
                    var checkedEl = body.find("input[type='checkbox'][checked]");
                    if(checkedEl.length>1){
                        layer.close(index);//这块是点击确定关闭这个弹出层
                        layer.msg('只能选择一门课程', {icon: 2});
                        setTimeout(function(){

                        }, 1500)
                        return;
                    }
                    // 处理课程id
                    if(checkedEl.length==1){
                        _this.html('');
                        var _html = '《'+checkedEl[0].name+'》';
                        _this.html(_html);
                        $("input[name='courseId']").val(checkedEl[0].id);　　//查到目标页面的内容赋给当前页面元素
                        $("input[name='courseNames']").val(checkedEl[0].name);
                    }
                    layer.close(index);//这块是点击确定关闭这个弹出层
                }
            });
        });
    })
</script>
</body>
</html>