<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common/template :: header(~{::title},~{::link},~{::style})">
</head>
<body>
<div class="alan-detail-page">
    <div class="alan-detail-title">基本信息</div>
    <table class="layui-table alan-detail-table">
        <colgroup>
            <col width="100px"><col>
            <col width="100px"><col>
        </colgroup>
        <tbody>
        <tr>
            <th>主键ID</th>
            <td th:text="${course.id}"></td>
            <th>课程类型</th>
            <td th:text="${#dicts.keyValue('COURSE_TYPE', course.type)}"></td>
        </tr>
        <tr>
            <th>课程名称</th>
            <td th:text="'《'+${course.names}+'》'"></td>
            <th>课程学时</th>
            <td th:text="${course.hour}+'小时'"></td>
        </tr>
        <tr>
            <th>课程说明</th>
            <td th:text="${course.description}" colspan="3"></td>
        </tr>
        <tr>
            <th>创建者</th>
            <td th:text="${course.createBy?.nickname}"></td>
            <th>更新者</th>
            <td th:text="${course.updateBy?.nickname}"></td>
        </tr>
        <tr>
            <th>创建时间</th>
            <td th:text="${#dates.format(course.createDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
            <th>更新时间</th>
            <td th:text="${#dates.format(course.updateDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
        </tr>
        <tr>
            <th>备注</th>
            <td th:text="${course.remark}" colspan="3"></td>
        </tr>
        </tbody>
    </table>
</div>
<script th:replace="/common/template :: script"></script>
</body>
</html>